.hover-info {
    display: none;
    opacity: 0.5;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    /* padding: 10px; */
    width: 70%;
    border-radius: 30px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-in-out;
}


ul li:hover .hover-info {
    display: block;
    opacity: 1;
}

.hover-info-small {
    display: none;
    position: absolute;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    /* padding: 10px;
    width: 100%;
    border-radius: 30px;
    z-index: 1;
    /* left: 50%; */
    /* transform: translateX(-50%); */
}


ul li:hover .hover-info-small {
    display: block;
}