@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

#homeBannerDiv {
  width: 100%;
  background-image: url('./assets/Images/banner1.jpg');
  background-size: cover;
  background-position: center;


}

/* App.css */
.container {
  position: relative;
  overflow: hidden;
  /* background-image: radial-gradient(circle, #e4f6f6, #cfebfe, #f0edfe); */
  /* width: 100vw; */
  /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.blob {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 10s both infinite;
}

.marquee-container {
  overflow: hidden;
}

@keyframes marquee {
  0% {
    transform: translateX(80%);
  }

  50% {
    transform: translateX(0%);
  }


  100% {
    transform: translateX(80%);
  }
}